version: '3'
services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: video_streaming
    volumes:
      - mysql-data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
  auth:
    image: myauthimage
    build:
      context: ./auth
      dockerfile: Dockerfile
  upload:
    image: myuploadimage
    build:
      context: ./upload
      dockerfile: Dockerfile
    environment:
      DB_HOST: db
      DB_PASSWORD: password
  file_system:
    build: ./file_system
    volumes:
      - data:/mnt/data
  streaming:
    image: mystreamingimage
    build:
      context: ./streaming
      dockerfile: Dockerfile
    environment:
      DB_HOST: db
      DB_PASSWORD: password
      FILE_SYSTEM_HOST: file_system
  web:
    image: mynginx
    build:
      context: ./nginx
      dockerfile: Dockerfile
    ports:
      - 80:80
    volumes:
      - static-data:/usr/share/nginx/html
      - nginx-conf:/etc/nginx/sites-enabled
volumes:
  mysql-data: {}
  nginx-conf: {}
  static-data: {}
  data: {}